# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Databases / Data
*.db
*.db-journal
data/
*.sqlite

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/
